{% extends "codefundo/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a class="navbar-brand" href="{% url 'main:home' %}">BlockChainSmokers</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'profile' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'helper' %}">Vote</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    {% if user.is_authenticated %}
                        <a class="navbar-brand" href="{% url 'accounts:logout' %}" class="btn btn-primary">Logout</a>
                    {% else %}
                        <a class="navbar-brand" href="{% url 'accounts:login' %}" class="btn btn-primary">Login</a>
                    {% endif %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                            aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    </span>
            </div>
        </nav>
    </header>
    {% if user.is_authenticated %}
        <hr class="featurette-divider">
        <div class="container-fluid">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading"> Hello {{ user.username }}! <span class="text-muted">Did you cast your vote yet?</span>
                    </h2>
                    <p class="lead"> Click <a href="{% url 'helper' %}">here</a> to vote. Remember to vote carefully,
                        every
                        vote
                        is important.</p>

                    <div class="card" style="300px">
                        <div class="card-header"><h3>{{ user.username }}</h3></div>
                        <div class="card-body">
                            {% for user in users %}
                                {% for profile in profiles %}
                                    <ul>
                                        <li><h5>Voter Id: {{ profile.voter_id }} </h5></li>
                                        <li><h5>Mobile No.:</h5></li>
                                        <li><h5>Constituency:</h5></li>
                                    </ul>
                                {% endfor %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card" style="width:350px">
                        <img class="card-img-top"
                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThl1l6k9_DFkYcmARNDmGh9ICzFWxoUtBR_bbXyfsKWbgWYq7gtg"
                             alt="Card image">

                    </div>
                </div>

            </div>

        </div>
    {% else %}
        <p>Please <a href="{% url 'accounts:login' %}">login</a> to see this page.</p>
    {% endif %}

{% endblock %}