<section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-right text-md-left">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="col-xs-20 col-sm-19 col-md-8">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Vote</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Know Your Candidate</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>About</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-40 col-md-2">
          <h5>Creators</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Harsh Anand</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Kaustubh Dixit</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Kumar Praduymn</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p class="h6"><div class="footer-copyright text-center py-3">Made With <i class="fas fa-heart"></i> by 
    <a href=#>BlockChainSmokers</a>
  </div></p>
        </div>
        </hr>
      </div>
    </div>
  </section>
